@charset "UTF-8";
/* 共通パーツ */
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: "Open Sans", "YuGothic_Family", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  line-height: 2;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.circle {
  border: 1px solid #231815;
  border-radius: min(26.3rem, (100vw - 15rem) / 2);
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}
.circle::before {
  position: absolute;
  content: "";
  inset: 1rem;
  z-index: 0;
  border: 1px solid #231815;
  border-radius: min(26.3rem, (100vw - 15rem) / 2);
}

.circle-shadow {
  -webkit-box-shadow: 4rem 6rem 7.9rem rgba(0, 0, 0, 0.2);
          box-shadow: 4rem 6rem 7.9rem rgba(0, 0, 0, 0.2);
}

.bg {
  position: relative;
}
.bg::before {
  content: "";
  position: absolute;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
  inset: 0;
  z-index: -1;
  border-radius: 50vw 50vw 0 0;
  background-size: max(1920px, 100%) auto;
}

.bg-fff {
  background: url(../img/bg-fff.jpg);
  background-repeat: repeat;
  background-size: contain;
  inset: 0;
  position: relative;
  z-index: 0;
}

.wrapper-inner {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
}

@-webkit-keyframes nav-open {
  0% {
    -webkit-mask-position: left top;
            mask-position: left top;
  }
  100% {
    -webkit-mask-position: left center;
            mask-position: left center;
  }
}

@keyframes nav-open {
  0% {
    -webkit-mask-position: left top;
            mask-position: left top;
  }
  100% {
    -webkit-mask-position: left center;
            mask-position: left center;
  }
}
/* レイアウト */
.header {
  overflow: hidden;
}

.header-logo {
  position: absolute;
  opacity: 0;
  top: 3rem;
  left: 4rem;
  z-index: 10;
  width: 20rem;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding-right: 80px;
  margin: 30px 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.22em;
  line-height: 1.2667;
  z-index: 100;
  -webkit-transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.menu-btn::before, .menu-btn::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  right: 4rem;
  background-color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.menu-btn::before {
  top: 6px;
}
.menu-btn::after {
  top: 12px;
}
.menu-btn:hover::before, .menu-btn:hover::after {
  top: 8px;
}
.menu-btn.open {
  color: #231815;
}
.menu-btn.open::before {
  top: 8px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #231815;
}
.menu-btn.open::after {
  top: 8px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background-color: #231815;
}
.menu-btn.color-change {
  color: #231815;
}
.menu-btn.color-change::before, .menu-btn.color-change::after {
  background-color: #231815;
}

.header-nav {
  position: fixed;
  inset: 0 0 auto;
  height: 100lvh;
  z-index: 11;
  background-color: #f5e7a0;
}
.header-nav::before {
  position: fixed;
  content: "";
  display: block;
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-repeat: repeat-y;
  background-size: max(1920px, 100%) auto;
  inset: 0 0 auto;
  z-index: 0;
  opacity: 0.2;
}

.nav-mask {
  -webkit-transition: -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(21%, transparent), color-stop(39%, #000000), color-stop(61%, #000000), color-stop(79%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(21%, transparent), color-stop(39%, #000000), color-stop(61%, #000000), color-stop(79%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
  -webkit-mask-position: left bottom;
          mask-position: left bottom;
  -webkit-mask-size: 100% 500%;
          mask-size: 100% 500%;
  pointer-events: none;
}

.nav-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
}

.nav-logo {
  position: fixed;
  z-index: 2;
  inset: calc(50% - 16.5rem) auto auto calc(50% - 11.5rem);
  width: 23rem;
}
.nav-logo img {
  width: 100%;
  height: auto;
}
@media (max-width: 1023px) {
  .nav-logo {
    width: 14rem;
    inset: 2rem 0 0 2rem;
  }
}

.img-mask {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50%;
  z-index: 1;
  position: relative;
}
@media (max-width: 1023px) {
  .menu {
    top: 35%;
    min-height: 0;
    padding-left: 0;
  }
}

.menu-wrapper {
  padding: 7rem 5rem 8rem 16.5rem;
}
@media (max-width: 1023px) {
  .menu-wrapper {
    padding: 9rem 6.5rem 6.5rem;
  }
}

.nav-list:not(:first-child) {
  margin-top: 4rem;
}
@media (max-width: 1023px) {
  .nav-list:not(:first-child) {
    margin-top: 6rem;
  }
}
.nav-list a {
  font-family: "Tinos", serif;
  font-size: 3.2rem;
  line-height: 1;
}
@media (max-width: 1023px) {
  .nav-list a {
    font-size: 6.5rem;
  }
}

.hover-line {
  position: relative;
}
.hover-line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #231815;
  bottom: 2px;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s; /*変形の時間*/
}
.hover-line:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  -webkit-transform-origin: left top;
          transform-origin: left top; /*右から左に向かう*/
}

.p-lists {
  margin-top: 4rem;
}
.p-lists a {
  font-family: "Tinos", serif;
  font-size: 3.2rem;
  line-height: 1;
}
@media (max-width: 1023px) {
  .p-lists a {
    font-size: 6.5rem;
  }
}
.p-lists .p-list {
  margin-top: 1.4rem;
  padding-left: 20px;
  line-height: 1.4286;
  position: relative;
}
.p-lists .p-list::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  top: 8px;
  left: 9px;
  background-color: #231815;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  .p-lists .p-list::before {
    width: 1.3rem;
    height: 1.3rem;
    top: 1.4rem;
    left: 0.1rem;
  }
}
.p-lists .p-list a {
  display: inline-block;
  font-family: "montserrat", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.56px;
  line-height: 1.4286;
}
@media (max-width: 1023px) {
  .p-lists .p-list a {
    font-size: 3.1rem;
  }
}
@media (max-width: 1023px) {
  .p-lists .p-list {
    margin-top: 3.9rem;
  }
}

.sns-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8.5rem;
}

.sns-list:not(:first-child) {
  margin-left: 2.6rem;
}
@media (max-width: 1023px) {
  .sns-list:not(:first-child) {
    margin-left: 7.8rem;
  }
}

.sns-list a {
  font-size: 1.6rem;
  line-height: 20px;
}
@media (max-width: 1023px) {
  .sns-list a {
    font-size: 4.1rem;
  }
}

.header-link {
  margin-top: 1.6rem;
}
@media (max-width: 1023px) {
  .header-link {
    margin-top: 3.9rem;
  }
}

.link-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .link-flex {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}

.link-list:not(:first-child) {
  margin-left: 26px;
}
.link-list a {
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.56px;
}
@media (max-width: 1023px) {
  .link-list a {
    font-size: 3.1rem;
  }
}

.mask-obj {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
  -webkit-transition: -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -webkit-mask-position: center top;
          mask-position: center top;
  -webkit-mask-size: 100% 700%;
          mask-size: 100% 700%;
}

/* header openクラス付与 */
.header.open .nav-mask {
  -webkit-animation: nav-mask 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
          animation: nav-mask 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-position: left center;
          mask-position: left center;
  pointer-events: auto;
}
.header.open .mask-obj {
  -webkit-mask-position: center center;
          mask-position: center center;
}
.header.open .fadeIn:nth-child(1) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header.open .fadeIn:nth-child(2) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.header.open .fadeIn:nth-child(3) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.header.open .fadeIn:nth-child(4) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.header.open .fadeIn:nth-child(5) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.header.open .header-sns {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.header.open .header-link {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media (max-width: 1023px) {
  .h-pc {
    display: none;
  }
}

.h-sp {
  display: none;
  width: 100vw;
}
@media (max-width: 1023px) {
  .h-sp {
    display: block;
  }
}

.nav-images {
  overflow: hidden;
  position: absolute;
  inset: 0 50% auto 0;
  z-index: 1;
  height: 100lvh;
}
@media (max-width: 1023px) {
  .nav-images {
    inset: auto;
  }
}

.swiper1 {
  aspect-ratio: 390/197;
}

.nav-swiper-slide {
  aspect-ratio: 390/197;
  overflow: hidden;
  position: relative;
}
.nav-swiper-slide .swiper-fade {
  opacity: 0 !important;
  visibility: hidden !important;
}
.nav-swiper-slide .swiper-fade .nav-slide-image {
  opacity: 0;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
  -webkit-transition: -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-position: center top;
          mask-position: center top;
  -webkit-mask-size: 100% 700%;
          mask-size: 100% 700%;
}
.nav-swiper-slide .swiper-fade.swiper-slide-active {
  opacity: 1 !important;
  visibility: visible !important;
}
.nav-swiper-slide .swiper-fade.swiper-slide-active .nav-slide-image {
  opacity: 1;
  -webkit-mask-position: center bottom;
          mask-position: center bottom;
}

.slide-image {
  height: 100lvh;
  -webkit-mask-position: center center !important;
          mask-position: center center !important;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .slide-image {
    height: auto;
  }
}

.nav-slide-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1023px) {
  .nav-slide-image img {
    aspect-ratio: 390/197;
    height: auto;
  }
}

.c-slider {
  height: 100vh;
  margin-top: 13.6rem;
  overflow: clip;
}

.c-slider-wrapper {
  width: 100%;
}

.swiper2 {
  position: relative;
  -ms-touch-action: auto;
      touch-action: auto;
  margin-top: 23.8rem;
}

.c-items {
  display: grid;
  position: sticky;
  top: calc(50lvh - 27rem);
  z-index: 1;
  margin-bottom: 10rem;
}
.c-items .swiper-backface-hidden {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.item {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43.2rem;
  aspect-ratio: 432/540;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.item-ttl {
  display: inline-block;
  font-family: "Tinos", serif;
  font-size: 5.6rem;
  line-height: 1.2143;
  letter-spacing: 0.03em;
}

.item-text {
  margin-top: 2.6rem;
}

.item-desc {
  font-size: 1.8rem;
  line-height: 1.4167;
  font-weight: 700;
}
.item-desc strong {
  display: block;
  margin-top: 0.6rem;
  color: #076286;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.span-box {
  display: inline-block;
  padding: 0 0.2rem;
  border: rgba(76, 73, 72, 0.5) solid 1px;
  line-height: 1.4rem;
}

.item-image {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  border-radius: 2rem;
  -webkit-box-shadow: 4rem 6rem 8rem rgba(0, 0, 0, 0.2);
          box-shadow: 4rem 6rem 8rem rgba(0, 0, 0, 0.2);
}

.item-image1 {
  width: 48rem;
  top: 0;
  right: calc(50% + 10rem);
}

.item-image2 {
  width: 44rem;
  left: calc(50% + 27rem);
}

.item-image3 {
  width: 30rem;
  top: 0;
  left: calc(50% + 23rem);
}

.swiper3 {
  padding: 0 6.5rem;
}

.p-sp {
  display: none;
}
@media (max-width: 1023px) {
  .p-sp {
    display: block;
  }
}

.p-swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 10.4rem;
}

.p-swiper-slide {
  width: calc(100vw - 5rem);
  margin-right: 2.5rem;
}

#wrapper {
  position: relative;
  background-color: #e8e8e8;
  z-index: 0;
}
#wrapper::before {
  position: fixed;
  content: "";
  display: block;
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-repeat: repeat-y;
  background-size: max(1920px, 100%) auto;
  inset: 0 0 auto;
  z-index: 0;
  opacity: 0.2;
}

.main {
  overflow: clip;
  position: relative;
  z-index: 1;
}

.inner-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100lvh;
}

.main-logo {
  position: fixed;
  width: 20rem;
  inset: 5rem auto auto 5rem;
  z-index: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}
.main-logo a {
  display: inline-block;
}
.main-logo .logo {
  opacity: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}
.main-logo .w-logo {
  position: fixed;
  width: 11.2rem;
  height: 13.3rem;
  top: 3rem;
  left: 4rem;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}
@media (max-width: 1023px) {
  .main-logo .w-logo {
    width: 14rem;
    top: 2rem;
    left: 2rem;
  }
}
.main-logo.scroll .logo {
  opacity: 0;
}
.main-logo.scroll .w-logo {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  visibility: visible;
}
@media (max-width: 1023px) {
  .main-logo {
    width: 23rem;
    inset: 28rem auto auto calc(50% - 10.5rem);
  }
}

.hero-image {
  display: block;
  position: relative;
  z-index: 0;
  height: 100vh;
}

.hero-image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-text {
  display: grid;
  grid-template-columns: 29.9rem 20.9rem;
  -webkit-column-gap: 1.4rem;
     -moz-column-gap: 1.4rem;
          column-gap: 1.4rem;
  position: absolute;
  inset: auto 1rem 0.8rem auto;
  z-index: 1;
  text-align: center;
}

.note-ttl {
  height: 2.4rem;
  font-size: 1.2rem;
  color: #231815;
  background-color: #fff;
}

.note-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.6rem;
     -moz-column-gap: 0.6rem;
          column-gap: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 0 0;
  border: 1px solid #fff;
}

.note-cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.7rem;
  font-size: 1.1rem;
  border: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cap-s {
  font-size: 1.2rem;
}

.note-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-name {
  margin-left: 0;
}

.scroll-contents {
  position: relative;
  z-index: 0;
  padding-top: 26rem;
}
.scroll-contents::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  border: #231815 solid 2px;
  border-bottom: none;
  border-radius: 50vw;
}
.scroll-contents::after {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  inset: 2rem;
  z-index: 1;
  border: 2px solid #fff;
  border-bottom: none;
  border-radius: 50vw;
  pointer-events: none;
}

.concept {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.section-ttl {
  font-size: 4.8rem;
  font-family: "Tinos", serif;
  text-align: center;
  line-height: 1.2292;
  letter-spacing: 0.06em;
}
@media (max-width: 1023px) {
  .section-ttl {
    font-size: 7.3rem;
  }
}

.c-ttl {
  color: #fff;
}

.c-subttl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem 4.6rem;
  margin: 3rem auto 0;
  color: #000;
  position: relative;
}

.border-length::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18.9rem;
  background-color: #000;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.border-l::before {
  left: 0.5rem;
}

.border-r::before {
  right: 0.5rem;
}

.sub-ttl {
  font-size: 3.4rem;
  font-weight: 700;
}

.en {
  width: 20.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.x {
  display: block;
  position: relative;
  margin: 0 2.3rem;
}
.x::before, .x::after {
  content: "";
  display: block;
  position: absolute;
  inset: calc(50% - 1.5rem) auto auto 50%;
  width: 1px;
  height: 3rem;
  background: #000;
}
.x::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.x::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.trouble-text {
  margin-top: 8.8rem;
}

.scalp-text {
  margin-top: 23.8rem;
}

.c-lead {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.4286;
  letter-spacing: 0.2px;
}

.c-desc {
  letter-spacing: 0.04em;
}

.c-cap {
  font-size: 0.6rem;
  margin-top: 0.8rem;
}

.brand-text {
  margin-top: 7.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02rem;
}

.name-s {
  font-size: 1.5rem;
  font-weight: 700;
}

.brand-name {
  font-size: 5.6rem;
  margin-top: 1.4rem;
}

.more-btn {
  margin-top: 5rem;
  line-height: 1.1875;
}
.more-btn a {
  font-family: "montserrat", sans-serif;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
}
.more-btn a::after {
  position: absolute;
  content: "";
}
.more-btn a i {
  width: 7rem;
  aspect-ratio: 1/1;
  padding: 2.4rem 0;
  margin-left: 1.5rem;
  border: 1px solid #231815;
  border-radius: 50%;
  font-size: 2.1rem;
}

.side-img {
  position: relative;
}
.side-img img {
  position: absolute;
  top: -22.7rem;
  width: 20.2rem;
  height: auto;
  -webkit-filter: drop-shadow(3rem 6rem 5rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(3rem 6rem 5rem rgba(0, 0, 0, 0.2));
  z-index: 3;
}

.r-bottle img {
  right: max(0px, 50% - 61.5rem);
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.l-bottle img {
  left: max(0px, 50% - 61.5rem);
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.s-bottle img {
  width: 12.7rem;
}

.c-image {
  width: calc(100vw - 40rem);
  height: max(53rem, (100vw - 40rem) / 900 * 530);
  margin: 12rem 0 0 auto;
  border-radius: calc(max(53rem, (100vw - 40rem) / 900 * 530) * 0.5) 0 0 calc(max(53rem, (100vw - 40rem) / 900 * 530) * 0.5);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  .c-image {
    height: auto;
  }
}
.c-image img {
  width: 100%;
  height: auto;
}

.product {
  position: relative;
  padding: 22rem 0 10.6rem;
  z-index: 2;
}
.product::before, .product::after {
  position: absolute;
  content: "";
  width: 54rem;
  height: 51rem;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.product::before {
  background-image: url(../img/bg-bl.png);
  inset: 0 auto auto 0;
}
.product::after {
  background-image: url(../img/bg-br.png);
  inset: auto 0 0 auto;
}
@media (max-width: 1023px) {
  .product {
    padding: 36.7rem 0;
  }
}

.p-item-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  padding-top: 7rem;
}

@media (max-width: 1023px) {
  .p-pc {
    display: none;
  }
}

.p-item-box {
  width: calc(50% - 2.5rem);
  height: 72.3rem;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  padding: 0 5rem;
  border: #231815 solid 1px;
}
@media (max-width: 1023px) {
  .p-item-box {
    width: calc(100vw - 5rem);
    height: 55.5rem;
    padding: 0 10.4rem;
    border-radius: calc((100vw - 5rem) / 2);
  }
}

.p-item-body {
  height: 72.3rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .p-item-body {
    height: 55.5rem;
    border-radius: calc((100vw - 5rem) / 2);
  }
}

.p-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin: -7rem 0 0.3rem;
}
.p-item-image img {
  width: 10.2rem;
  height: 33rem;
}

.p-body-text {
  min-height: 33rem;
}

.p-item-ttl {
  min-height: 3.2728em;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.6364;
  letter-spacing: 0.02em;
}

.p-item-text {
  margin-top: 1.3rem;
}

.p-item-lead {
  color: #076286;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5556;
  letter-spacing: 0.02em;
}

.p-item-cap {
  margin-top: 0.9rem;
  font-size: 0.6rem;
  color: #4c4948;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.p-item-price {
  margin-top: 3.6rem;
  font-size: 1.5rem;
  line-height: 1.2308;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-family: "montserrat", sans-serif;
}

.price {
  font-size: 2.6rem;
}

.price-cap {
  margin-top: 1.8rem;
}

.p-btn {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.p-btn a .arrow-color {
  width: 4rem;
  padding: 0.8rem 0;
  color: #fff;
  background-color: #9ab49f;
  border-radius: 50%;
  border: 1px solid #9ab49f;
}

.p-item-effect {
  width: calc(50% - 2.5rem);
  margin-top: 2rem;
  padding: 1.9rem 2rem 1.7rem;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
  -webkit-clip-path: polygon(0 1rem, calc(50% - 0.9rem) 1rem, 50% 0, calc(50% + 0.9rem) 1rem, 100% 1rem, 100% 100%, 0% 100%);
          clip-path: polygon(0 1rem, calc(50% - 0.9rem) 1rem, 50% 0, calc(50% + 0.9rem) 1rem, 100% 1rem, 100% 100%, 0% 100%);
}

.effect-text dd {
  display: grid;
  grid-template-columns: 41.573% 1fr;
  -webkit-column-gap: 1.4rem;
     -moz-column-gap: 1.4rem;
          column-gap: 1.4rem;
  margin: 1rem 0 0 0;
}

.effect-ttl {
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.7rem;
  border-bottom: #cbcbc0 dotted 1px;
}

.effect-name {
  margin-top: 1rem;
  font-size: 1rem;
}

.effect-cap {
  font-size: 1rem;
}

.gallery {
  height: 300vh;
  background-color: #231815;
  position: relative;
  z-index: 3;
}

.gallery-wrapper {
  position: absolute;
  inset: 100lvh 0;
}

.gallery-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}

.galley-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support {
  padding: 20rem 0;
  position: relative;
  z-index: 3;
}

.support-wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.support-ttl {
  font-size: 3.2rem;
  font-weight: 700;
}

.support-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  margin-top: 4rem;
}

.support-item {
  display: grid;
  overflow: hidden;
  aspect-ratio: 525/310;
  border-radius: 2rem;
  color: #fff;
  text-decoration: none;
}
.support-item img {
  -webkit-transition: scale 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: scale 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  z-index: 0;
}

.s-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.1rem;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  z-index: 1;
}

.item-en {
  font-size: 1.5rem;
  line-height: 1.2667;
}

.item-ja {
  font-size: 2.4rem;
  line-height: 1;
  margin-top: 1rem;
}

.item-btn {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  z-index: 2;
}
.item-btn a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}
.item-btn a i {
  width: 4rem;
  padding: 0.8rem 0;
}

.bg-wrapper {
  overflow: clip;
  position: absolute;
  height: 100vh;
  inset: 0;
  z-index: -1;
  border-radius: 50vw 50vw 0 0;
  background-image: url(../img/bg.jpg);
  background-size: max(1920px, 100%) auto;
  background-repeat: no-repeat;
}

.footer {
  position: relative;
  z-index: 2;
  border-top: 1px solid #cbcbc0;
}

.footer-wrapper {
  width: 100%;
  max-width: 120rem;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 6rem 0rem;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.footer-sns {
  padding-left: 15rem;
}

.sns-lists {
  margin-top: 0;
}

.f-sns-list a i {
  font-size: 2rem;
}

.f-link-flex {
  -webkit-column-gap: 3.7rem;
     -moz-column-gap: 3.7rem;
          column-gap: 3.7rem;
}

.f-link-list a {
  font-size: 1.5rem;
}

/* レスポンシブ */