@charset "UTF-8";
/* 共通パーツ */
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: "Open Sans", "YuGothic_Family", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 10px;
  line-height: 2;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes nav-open {
  0% {
    -webkit-mask-position: left top;
            mask-position: left top;
  }
  100% {
    -webkit-mask-position: left center;
            mask-position: left center;
  }
}

@keyframes nav-open {
  0% {
    -webkit-mask-position: left top;
            mask-position: left top;
  }
  100% {
    -webkit-mask-position: left center;
            mask-position: left center;
  }
}
/* レイアウト */
#wrapper {
  position: relative;
  background-color: #e8e8e8;
  z-index: 1;
}
#wrapper::before {
  position: fixed;
  content: "";
  display: block;
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-repeat: repeat-y;
  background-size: max(1920px, 100%) auto;
  inset: 0 0 auto;
  z-index: 0;
  opacity: 0.2;
}

.header {
  overflow: hidden;
}

.header-logo {
  position: absolute;
  opacity: 0;
  top: 3rem;
  left: 4rem;
  z-index: 10;
  width: 20rem;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding-right: 80px;
  margin: 30px 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.22em;
  line-height: 1.2667;
  z-index: 100;
  -webkit-transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.menu-btn::before, .menu-btn::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  right: 4rem;
  background-color: #fff;
}
.menu-btn::before {
  top: 6px;
}
.menu-btn::after {
  top: 12px;
}
.menu-btn:hover::before, .menu-btn:hover::after {
  top: 8px;
}
.menu-btn.open {
  color: #231815;
}
.menu-btn.open::before {
  top: 8px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #231815;
}
.menu-btn.open::after {
  top: 8px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background-color: #231815;
}

.header-nav {
  position: fixed;
  inset: 0 0 auto;
  height: 100lvh;
  z-index: 11;
  background-color: #f5e7a0;
}
.header-nav::before {
  position: fixed;
  content: "";
  display: block;
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-repeat: repeat-y;
  background-size: max(1920px, 100%) auto;
  inset: 0 0 auto;
  z-index: 0;
  opacity: 0.2;
}

.nav-mask {
  -webkit-transition: -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-mask-position 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(21%, transparent), color-stop(39%, #000000), color-stop(61%, #000000), color-stop(79%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(21%, transparent), color-stop(39%, #000000), color-stop(61%, #000000), color-stop(79%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
  -webkit-mask-position: left bottom;
          mask-position: left bottom;
  -webkit-mask-size: 100% 500%;
          mask-size: 100% 500%;
  pointer-events: none;
}

.nav-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
}

.nav-logo {
  display: block;
  position: absolute;
  z-index: 2;
  inset: calc(50% - 16.5rem) auto auto calc(50% - 13.5rem);
  width: 23rem;
}
.nav-logo img {
  width: 100%;
  height: auto;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.img-mask {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50%;
  z-index: 1;
}

.menu-wrapper {
  padding: 7rem 5rem 8rem 16.5rem;
}

.nav-list:not(:first-child) {
  margin-top: 4rem;
}
.nav-list a {
  font-family: "Tinos", serif;
  font-size: 3.2rem;
  line-height: 1;
}

.p-lists {
  margin-top: 4rem;
}
.p-lists a {
  font-family: "Tinos", serif;
  font-size: 3.2rem;
  line-height: 1;
}
.p-lists .p-list {
  margin-top: 14px;
  padding-left: 20px;
  position: relative;
}
.p-lists .p-list::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 7px;
  left: 9px;
  background-color: #231815;
  border-radius: 50%;
}
.p-lists .p-list a {
  display: block;
  font-family: "montserrat", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.56px;
  line-height: 1.4286;
}

.sns-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8.5rem;
}

.sns-list:not(:first-child) {
  margin-left: 26px;
}

.sns-list a {
  font-size: 16px;
  line-height: 20px;
}

.header-link {
  margin-top: 16px;
}

.link-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-list:not(:first-child) {
  margin-left: 26px;
}
.link-list a {
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.56px;
}

.mask-obj {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
  -webkit-transition: -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, -webkit-mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s;
  -webkit-mask-position: center top;
          mask-position: center top;
  -webkit-mask-size: 100% 700%;
          mask-size: 100% 700%;
}

/* header openクラス付与 */
.header.open .nav-mask {
  -webkit-animation: nav-mask 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
          animation: nav-mask 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-position: left center;
          mask-position: left center;
  pointer-events: auto;
}
.header.open .mask-obj {
  -webkit-mask-position: center center;
          mask-position: center center;
}
.header.open .fadeIn:nth-child(1) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header.open .fadeIn:nth-child(2) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.header.open .fadeIn:nth-child(3) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.header.open .fadeIn:nth-child(4) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.header.open .fadeIn:nth-child(5) {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.header.open .header-sns {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.header.open .header-link {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-images {
  position: absolute;
  width: 50%;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

.nav-swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .swiper-fade {
  opacity: 0 !important;
  visibility: hidden !important;
}
.swiper-slide .swiper-fade .slide-image {
  opacity: 0;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, transparent), color-stop(42%, #000000), color-stop(58%, #000000), color-stop(85%, transparent));
          mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
  -webkit-transition: -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-mask-position: center top;
          mask-position: center top;
  -webkit-mask-size: 100% 700%;
          mask-size: 100% 700%;
}
.swiper-slide .swiper-fade.swiper-slide-active {
  opacity: 1 !important;
  visibility: visible !important;
}
.swiper-slide .swiper-fade.swiper-slide-active .slide-image {
  opacity: 1;
  -webkit-mask-position: center bottom;
          mask-position: center bottom;
}

.slide-image {
  height: 100lvh;
  -webkit-mask-position: center center !important;
          mask-position: center center !important;
  overflow: hidden;
}

.slide-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  overflow: clip;
  position: relative;
  z-index: 1;
}

.inner-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100lvh;
}

.main-logo {
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  position: absolute;
  inset: 5rem auto auto 5rem;
  z-index: 1;
  width: 20rem;
}

.hero-image {
  display: block;
  position: relative;
  z-index: 0;
  height: 100vh;
}

.hero-image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-text {
  display: grid;
  grid-template-columns: 29.9rem 20.9rem;
  -webkit-column-gap: 1.4rem;
     -moz-column-gap: 1.4rem;
          column-gap: 1.4rem;
  position: absolute;
  inset: auto 1rem 0.8rem auto;
  z-index: 1;
  text-align: center;
}

.note-ttl {
  height: 2.4rem;
  font-size: 1.2rem;
  color: #231815;
  background-color: #fff;
}

.note-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.6rem;
     -moz-column-gap: 0.6rem;
          column-gap: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 0 0;
  border: 1px solid #fff;
}

.note-cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.7rem;
  font-size: 1.1rem;
  border: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cap-s {
  font-size: 1.2rem;
}

.note-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-name {
  margin-left: 0;
}

.scroll-contents {
  --sy: 0;
  --scale: min(calc(0.6 + var(--sy) * 0.0005), 1);
  --half-scale: calc((1 - var(--scale)) / 2);
  position: relative;
  z-index: 1;
  padding-top: 26rem;
}
.scroll-contents::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  border: #231815 solid 2px;
  border-bottom: none;
  border-radius: 50vw;
}

.concept {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 120rem;
  text-align: center;
}

.section-ttl {
  font-size: 4.8rem;
  font-family: "Tinos", serif;
  color: #fff;
}

.c-subttl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem 4.6rem;
  margin: 0 auto;
  color: #000;
  position: relative;
}

.border-length::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18.9rem;
  background-color: #000;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.border-l::before {
  left: 0.5rem;
}

.border-r::before {
  right: 0.5rem;
}

.sub-ttl {
  font-size: 3.4rem;
  font-weight: 700;
}

.en {
  width: 20.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.x {
  display: block;
  position: relative;
  margin: 0 2.3rem;
}
.x::before, .x::after {
  content: "";
  display: block;
  position: absolute;
  inset: calc(50% - 1.5rem) auto auto 50%;
  width: 1px;
  height: 3rem;
  background: #000;
}
.x::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.x::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-lead {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.4286;
  letter-spacing: 0.2px;
  margin-top: 8.8rem;
}

.c-desc {
  letter-spacing: 0.04em;
}

.brand-text {
  margin-top: 7.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02rem;
}

.name-s {
  font-size: 1.5rem;
  font-weight: 700;
}

.brand-name {
  font-size: 5.6rem;
  margin-top: 1.4rem;
}

.more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  line-height: 1.1875;
}
.more-btn a {
  font-family: "montserrat", sans-serif;
  font-size: 1.8rem;
  position: relative;
}
.more-btn a::after {
  position: absolute;
  content: "";
}
.more-btn a i {
  width: 7rem;
  aspect-ratio: 1/1;
  padding: 2.4rem 0;
  margin-left: 1.5rem;
  border: 1px solid #231815;
  border-radius: 50%;
  font-size: 2.1rem;
}

.side-img {
  position: relative;
}
.side-img img {
  position: absolute;
  top: -22.7rem;
  width: 20.2rem;
  height: auto;
  -webkit-filter: drop-shadow(3rem 6rem 5rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(3rem 6rem 5rem rgba(0, 0, 0, 0.2));
  z-index: 2;
}

.r-bottle img {
  right: max(0px, 50% - 61.5rem);
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.l-bottle img {
  left: max(0px, 50% - 61.5rem);
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.c-image {
  width: 62.4rem;
  height: 53rem;
  margin-top: 12rem;
  margin-left: auto;
  border-top-left-radius: 265px;
  border-bottom-left-radius: 265px;
  overflow: hidden;
}

.bg-wrapper {
  overflow: clip;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50vw 50vw 0 0;
}
.bg-wrapper::before {
  content: "";
  display: block;
  position: sticky;
  top: 0;
  height: 100lvh;
  background: url(/img/bg.jpg);
  background-repeat: repeat-y;
  background-size: max(1920px, 100%) auto;
}

/* レスポンシブ */