@use "variable" as v;
@use "mixin" as m;
@use "font" as f;


//変数
$y: 0; //初期値は0

// 共通項目
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;

    @include m.mq(sp) {
        font-size: 2.5642vw;
        line-height: 1.7143
    }
}

body {
    font-family: "Open Sans","YuGothic_Family","YuGothic","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-size: 10px;
    line-height: 2;
    background-color: #fff;
    color: #222;

    @include m.mq(sp) {
        font-size: 2.5642vw;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
form {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

:root {
    --sy: 0;
}

.circle {
    border: 1px solid v.$color-text;
    border-radius: min(26.3rem,(100vw - 15rem)/2);
    background: #fff;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        inset: 1rem;
        z-index: 0;
        border: 1px solid v.$color-text;
        border-radius: min(26.3rem,(100vw - 15rem)/2);

        @include m.mq(sp) {
            inset: 0.7rem;
            border-radius: calc((100vw - 5rem - 1.4rem)/2);
        }
    }
}

.circle-shadow {
    box-shadow: 4rem 6rem 7.9rem rgba(0,0,0,.2);
}

.bg {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(https://github.com/ai-s1014/portfolio3/blob/main/img/bg.jpg?raw=true);
        background-repeat: repeat;
        background-attachment: fixed;
        z-index: -1;
    }

    @include m.mq(sp) {
        clip-path: inset(0);

        &::before {
            position: fixed;//固定
            top: 0;
            left: 0;
        }
    }
}

.bg-fff {
    background: url(https://github.com/ai-s1014/portfolio3/blob/main/img/bg-fff.jpg?raw=true);
    background-repeat: repeat;
    background-size: contain;
    inset: 0;
    position: relative;
    z-index: 0;
}

.wrapper-inner {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;

    @include m.mq(sp) {
        padding: 0 2.5rem;
    }
}

.br-pc {
    @include m.mq(sp) {
        display: none;
    }
}

.br-sp {
    display: none;

    @include m.mq(sp) {
        display: block;
    }
}

.hover-line {
    display: inline-block;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: v.$color-text;
        bottom: 2px;
        left: 0;
        transform: scale(0, 1);
        transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.5s; /*変形の時間*/
    }

    &:hover {

        &::before {
            transform: scale(1, 1);      /*ホバー後、x軸方向に1（相対値）伸長*/
            transform-origin: left top; /*右から左に向かう*/
        }
    }
}

.scroll-effect {
    mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
    transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) .9s;
    mask-position: center top;
    mask-size: 100% 700%;
}

.animation {
    transition: mask-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    mask-position: center center;
}