@use "variable" as v;
@use "mixin" as m;
@use "font" as f;


.footer {
    position: relative;
    z-index: 2;
    border-top: 1px solid #cbcbc0;
}

.footer-wrapper {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4.8rem 5rem;
    display: grid;
    align-items: center;

    @include m.mq(sp) {
        padding: 3.8rem 0 3.9rem;
    }
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.mq(sp) {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}

.copyright {
    font-size: f.rem(10);
    line-height: 1.5;
    letter-spacing: 0.03em;

    @include m.mq(sp) {
        order: 3;
        margin-top: 2.8rem;
    }
}

.footer-sns {
    padding-left: 22rem;

    @include m.mq(sp) {
        padding-left: 3rem;
    }
}

.sns-lists {
    margin-top: 0;
}

.f-sns-list {

    a {

        @include m.mq(sp) {
            padding: 0 1.5rem;
        }

        i {
            font-size: f.rem(16);

            @include m.mq(sp) {
                font-size: f.rem(20);
            }
        }
    }
}

.f-link-flex {
    column-gap: 3rem;
}

.f-link-list {

    &:not(:first-child) {
        margin-left: 0;
    }

    a {
        font-size: f.rem(15);

        @include m.mq(sp) {
            font-size: f.rem(12);
        }
    }
}

.link-lists {

    @include m.mq(sp) {
        margin-top: 1rem;
    }
}

.link-flex {

}

.link-list {

}

