@use "variable" as v;
@use "font" as f;
@use "mixin" as m;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
}

.header-logo {
    position: fixed;
    width: 9rem;
    inset: 5rem auto auto 5rem;
    z-index: 100;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    transition-property: visibility,opacity;
    opacity: 0;

    @include m.mq(sp) {
        width: 6rem;
        inset: 1rem auto auto 1rem;
        display: block;
    }

    a {
        display: inline-block;
    }

    &.scroll {
        opacity: 1;
    }
}

.menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    padding-right: 8rem;
    margin: 3rem 0;
    color: #fff;
    font-size: f.rem(15);
    font-weight: 600;
    letter-spacing: 0.22em;
    line-height: 1.2667;
    z-index: 100;
    transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

    @include m.mq(sp) {
        padding: 2rem 4.8rem 2rem 0;
        font-size: f.rem(12);
        line-height: 1.25;
        letter-spacing: .15em;
        margin: 0;
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 3rem;
        height: 1px;
        right: 4rem;
        background-color: #fff;
        transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

        @include m.mq(sp) {
            width: 2rem;
            right: 2rem;
            margin-top: 1.7rem;
        }
    }

    &::before {
        top: 0.6rem;
    }

    &::after {
        top: 1.2rem;
    }

    &:hover {
        &::before,
        &::after {
            top: 0.8rem;
        }
    }

    &.open {

        color: v.$color-text;

        &::before {
            top: 8px;
            transform: rotate(25deg);
            background-color: v.$color-text;

            @include m.mq(sp) {
                top: 1rem;
            }
        }

        &::after {
            top: 8px;
            transform: rotate(-25deg);
            background-color: v.$color-text;

            @include m.mq(sp) {
                top: 1rem;
            }
        }

        .header-logo {

            @include m.mq(pc) {
                display: none;
            }
        }
    }

    &.color-change {
        color: v.$color-text;

        &::before,
        &::after {
            background-color: v.$color-text;
        }
    }
}


.header-nav {
    position: fixed;
    inset: 0 0 auto;
    height: 100lvh;
    z-index: 11;
    background-color: v.$color-h-bg;

    &::before {
        @include m.headerBg;
    }

    @include m.mq(sp) {
        height: 100%;
    }
}

.nav-mask {
    animation: nav-close .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
    mask-position: left bottom;
    mask-size: 100% 500%;
    pointer-events: none;
 }



.nav-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    visibility: hidden;
}

.nav-logo {

    position: fixed;
    z-index: 2;
    inset: calc(50% - 16.5rem) auto auto calc(50% - 11.5rem);
    width: 23rem;
    display: block;

    img {
        width: 100%;
        height: auto;
    }

    @include m.mq(sp) {
        display: none;
    }
}


.img-mask {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.pc {

}

.nav-swiper {

}

.menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50%;
    z-index: 1;
    position: relative;

    @include m.mq(sp) {
        top: 19.6rem;
        min-height: 0;
        padding-left: 0;
    }
}

.menu-wrapper {
    padding: 7rem 5rem 8rem 16.5rem;

    @include m.mq(sp) {
        padding: 3.5rem 2.5rem 2.5rem;
    }

}

.nav-menu {

}

.nav-list {

    &:not(:first-child) {
        margin-top: 4rem;

        @include m.mq(sp) {
            margin-top: 2rem;
        }
    }

    a {
        font-family: f.$tinos;
        font-size: f.rem(32);
        line-height: 1;

        @include m.mq(sp) {
            font-size: f.rem(24);
        }
    }
}

.p-lists {
    margin-top: 4rem;

    @include m.mq(sp) {
        margin-top: 2rem;
    }

    a {
        font-family: f.$tinos;
        font-size: f.rem(32);
        line-height: 1;

        @include m.mq(sp) {
            font-size: f.rem(24);
        }
    }

    .p-list {
        margin-top: 1.3rem;
        padding-left: 20px;
        line-height: 1.4286;
        color: #4c4948;;
        position: relative;

        @include m.mq(sp) {
            margin-top: 0;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            top: 8px;
            left: 9px;
            background-color: v.$color-text;
            border-radius: 50%;

            @include m.mq(sp) {
                width: 0.5rem;
                height: 0.5rem;
                top: 2rem;
                left: 1.1rem;
            }
        }

        a {
            display: inline-block;
            font-family: f.$montserrat;
            font-size: f.rem(14);
            letter-spacing: 0.56px;
            line-height: 1.4286;

            @include m.mq(sp) {
                margin-top: 1.5rem;
                padding-left: 1rem;
                font-size: 1.2rem;
                letter-spacing: .02em;
            }
        }
    }
}

.header-sns {

}

.sns-flex {
    display: flex;
    margin-top: 8.5rem;

    @include m.mq(sp) {
        margin-top: 4.5rem;
        margin-left: -1.5rem;
    }
}

.sns-list {

    &:not(:first-child) {
        margin-left: 2.6rem;

        @include m.mq(sp) {
            margin-left: 0;
        }
    }
}

.sns-list a {
    font-size: f.rem(16);
    line-height: 20px;
    transition: opacity .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

    @include m.mq(sp) {
        padding: 0 1.5rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.header-link {
    margin-top: 1.6rem;

    @include m.mq(sp) {
        margin-top: 1.1rem;
    }
}

.link-flex {
    display: flex;

    @include m.mq(sp) {
        column-gap: 3rem;
    }
}

.link-list {

    &:not(:first-child) {
        margin-left: 26px;

        @include m.mq(sp) {
            margin-left: 0;
        }
    }

    a {
        font-family: f.$montserrat;
        font-size: f.rem(12);
        letter-spacing: 0.56px;

        @include m.mq(sp) {
        }
    }
}

.mask-obj {
    mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
    transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) .9s;
    mask-position: center top;
    mask-size: 100% 700%;
}



/* header openクラス付与 */
.header {

    &.open {
        .nav-mask {
            animation: nav-mask .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            mask-position: left center;
            pointer-events: auto;
        }

        .mask-obj {
            mask-position: center center;
        }

        .fadeIn {
            @include m.fadeIn(5, 0.1s);
        }

        .header-sns {
            transition-duration: 1.2s;
            transition-delay: 0.6s;
        }

        .header-link {
            transition-duration: 1.2s;
            transition-delay: 0.6s;
        }

        .nav-wrapper {
            visibility: visible;
        }

    }
}