@use "variable" as v;
@use "font" as f;
@use "mixin" as m;

#wrapper {
    position: relative;
    background-color: v.$color-bg1;
    z-index: 1;

    &::before {
        position: fixed;
        content: "";
        display: block;
        height: 100vh;
        background-image: url(/img/bg.jpg);
        background-repeat: repeat-y;
        background-size: max(1920px,100%) auto;
        inset: 0 0 auto;
        z-index: 0;
        opacity: 0.2;
    }
}

.header-logo {
    position: absolute;
    opacity: 0; // main要素スクロール時に表示
    top: 3rem;
    left: 4rem;
    z-index: 10;
    width: 20rem;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition-property: visibility,opacity;
}

.menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    padding-right: 80px;
    margin: 30px 0;
    color: #fff;
    font-size: f.rem(15);
    font-weight: 600;
    letter-spacing: 0.22em;
    line-height: 1.2667;
    z-index: 100;
    transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 1px;
        right: 4rem;
        background-color: #fff;
    }

    &::before {
        top: 6px;
    }

    &::after {
        top: 12px;
    }

    &:hover {
        &::before,
        &::after {
            top: 8px;
        }
    }

    &.open {

        color: v.$color-text;

        &::before {
            top: 8px;
            transform: rotate(25deg);
            background-color: v.$color-text;
        }

        &::after {
            top: 8px;
            transform: rotate(-25deg);
            background-color: v.$color-text;
        }
    }
}


.header-nav {
    position: fixed;
    inset: 0 0 auto;
    height: 100lvh;
    z-index: 11;
    background-color: v.$color-h-bg;

    &::before {
        position: fixed;
        content: "";
        display: block;
        height: 100vh;
        background-image: url(/img/bg.jpg);
        background-repeat: repeat-y;
        background-size: max(1920px,100%) auto;
        inset: 0 0 auto;
        z-index: 0;
        opacity: 0.2;
    }
}

.nav-mask {
    transition: mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
    mask-position: left bottom;
    mask-size: 100% 500%;
    pointer-events: none;
 }



.nav-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
}

.nav-logo {
    display: block;
    position: absolute;
    z-index: 2;
    inset: calc(50% - 13.5rem) auto auto calc(50% - 13.5rem);
    width: 23rem;

    img {
        width: 100%;
        height: auto;
    }
}

// height編集する
.nav-flex {
    display: flex;
    height: 100vh;
    z-index: 1;
    position: relative;
}


.nav-images {
    position: absolute;
    width: 50%;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

.nav-swiper {
    width: 100%;
    height: 100%;
}

.slide-image {
}

.slide-image img {
    width: 100%;
    height: 100lvh;
    object-fit: cover;
}

.img-mask {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.pc {

}

.nav-swiper {

}

.menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50%;
    z-index: 1;
}

.menu-wrapper {
    padding: 7rem 5rem 8rem 16.5rem;
}

.nav-menu {

}

.nav-list {

    &:not(:first-child) {
        margin-top: 4rem;
    }

    a {
        font-family: f.$tinos;
        font-size: f.rem(32);
        line-height: 1;
    }
}

.nav-list-s {
    margin-top: 20px;
    padding-left: 20px;
    position: relative;

    &:nth-child(7) {
        margin-top: 10px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 12px;
        left: 9px;
        background-color: v.$color-text;
        border-radius: 50%;
    }

    a {
        font-size: f.rem(14);
        letter-spacing: 0.56px;
        line-height: 20px;
    }
}

.header-sns {

}

.sns-flex {
    display: flex;
    margin-top: 8.5rem;
}

.sns-list {

    &:not(:first-child) {
        margin-left: 26px;
    }

}

.sns-list a {
    font-size: 16px;
    line-height: 20px;
}

.header-link {
    margin-top: 16px;
}

.link-flex {
    display: flex;
}

.link-list {

    &:not(:first-child) {
        margin-left: 26px;
    }

    a {
        font-family: f.$montserrat;
        font-size: f.rem(12);
        letter-spacing: 0.56px;
    }
}

// menu アニメーション

// .fadeIn {
//     will-change: mask-image;
//     -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
//     mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
//     -webkit-mask-position: center top;
//     mask-position: center top;
//     -webkit-mask-size: 100% 700%;
//     mask-size: 100% 700%;
// }
// .fadeIn {
//     @include m.fadeIn($quantity: 7, $speed: 0.4s);
// }



.mask-obj {
    mask-image: linear-gradient(to top, transparent 0%, transparent 15%, #000000 42%, #000000 58%, transparent 85%);
    transition: mask-position 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) .9s;
    mask-position: center top;
    mask-size: 100% 700%;
}


/* header openクラス付与 */
.header {

    &.open {

        .nav-mask {
            animation: nav-mask .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            mask-position: left center;
            pointer-events: auto;
        }

        .mask-obj {
            mask-position: center center;
        }

        .fadeIn {
            @include m.fadeIn(7, 0.3s);
        }



    }
}