@use "variable" as v;
@use "font" as f;
@use "mixin" as m;


.header {
    width: 100%;
    position: fixed;
    top: 0;
}

.h-logo {
    float: left;
    width: 20rem;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;
    transition-property: visibility,opacity;
    position: absolute;
    inset: 5rem auto auto 5rem;
    z-index: 1;
}

.menu-btn {
    display: block;
    float: right;
    padding-right: 80px;
    margin: 30px 0;
    color: #fff;
    font-size: f.rem(15);
    font-weight: 600;
    letter-spacing: 0.22em;
    line-height: 1.2667;
    z-index: 100;
    transition: color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 1px;
        right: 4rem;
        background-color: #fff;
    }

    &::before {
        top: 6px;
    }

    &::after {
        top: 12px;
    }

    &:hover {
        &::before,
        &::after {
            top: 8px;
        }
    }

    &.open {

        color: v.$color-text;

        &::before {
            top: 8px;
            transform: rotate(25deg);
            background-color: v.$color-text;
        }

        &::after {
            top: 8px;
            transform: rotate(-25deg);
            background-color: v.$color-text;
        }
    }
}


.nav-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0 0 auto;
    // mask-image
    transition: -webkit-mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-mask-position .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
    mask-image: linear-gradient(to top, transparent 0%, transparent 21%, #000000 39%, #000000 61%, transparent 79%);
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    -webkit-mask-size: 100% 500%;
    mask-size: 100% 500%;
    pointer-events: none;


    &::before {
        position: absolute;
        content: "";
        background-image: url(/img/bg.jpg);
        background-repeat: no-repeat;
        background-size: max(1920px,100%) auto;
        inset: 0;
        z-index: -1;
    }

    &.open {
        -webkit-animation: nav-open .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        animation: nav-open .9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transition:none;
        -webkit-mask-position: left center;
        mask-position: left center;
        pointer-events: auto
    }
}

// height編集する
.nav-flex {
    display: flex;
    height: 100vh;
}


.nav-images {
    width: 50%;
    height: 100vh;
}

.nav-swiper {
    overflow: hidden;
    position: absolute;
    inset: 0 50% auto 0;
    z-index: 1;
    height: 100lvh;
}

.slide-image {
}

.slide-image img {
    width: 100%;
    height: 100lvh;
    object-fit: cover;
}

.img-mask {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.pc {

}

.nav-swiper {

}

.pc-menu {

}

.menu-wrapper {
    width: 50%;
    min-height: 100%;
    padding-left: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 165px;
}

.nav-menu {
    padding: 0 50px 80px 0;
}

.nav-list {
    margin-top: 40px;

    a {
        font-family: f.$tinos;
        font-size: f.rem(32);
        line-height: 1;
    }
}

.nav-list-s {
    margin-top: 20px;
    padding-left: 20px;
    position: relative;

    &:nth-child(7) {
        margin-top: 10px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 12px;
        left: 9px;
        background-color: v.$color-text;
        border-radius: 50%;
    }

    a {
        font-size: f.rem(14);
        letter-spacing: 0.56px;
        line-height: 20px;
    }
}

.header-sns {

}

.sns-flex {
    display: flex;
}

.sns-list {

    &:not(:first-child) {
        margin-left: 26px;
    }

}

.sns-list a {
    font-size: 16px;
    line-height: 20px;
}

.header-link {
    margin-top: 16px;
}

.link-flex {
    display: flex;
}

.link-list {

    &:not(:first-child) {
        margin-left: 26px;
    }

    a {
        font-family: f.$montserrat;
        font-size: f.rem(12);
        letter-spacing: 0.56px;
    }
}

