$layout-width-inner: 1280px;

// ブレークポイント
$breakpoints: (
    "sp2": "(max-width: 767px)",
    "sp": "(max-width: 1023px)",
    "pc": "(min-width: 1024px)",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// header menu open時のアニメーション
@mixin fadeIn($quantity, $speed) {
    @for $i from 1 through $quantity{
      &:nth-child(#{$i}){
        transition-duration: 1.2s;
        transition-delay: ($i - 1) * $speed;
      }
    }
  }

// 背景画像
// header
@mixin headerBg {
    position: fixed;
    content: "";
    display: block;
    height: 100vh;
    background-image: url(/img/bg1.jpg);
    background-repeat: repeat-y;
    background-size: max(1920px,100%) auto;
    inset: 0 0 auto;
    z-index: 0;
    opacity: 0.2;
}