$layout-width-inner: 1280px;

// ブレークポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner})",
    "pc": "(min-width: #{$layout-width-inner})",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// header menu open時のアニメーション
@mixin fadeIn($quantity, $speed) {
    @for $i from 1 through $quantity{
      &:nth-child(#{$i}){
        transition-duration: 1.2s;
        transition-delay: ($i - 1) * $speed;
      }
    }
  }

// 背景画像
// header
@mixin headerBg {
    position: fixed;
    content: "";
    display: block;
    height: 100vh;
    background-image: url(/img/bg.jpg);
    background-repeat: repeat-y;
    background-size: max(1920px,100%) auto;
    inset: 0 0 auto;
    z-index: 0;
    opacity: 0.2;
}

// top
@mixin sectionBg {
    content: "";
	display: block;
	position: sticky;
	top: 0;
	height: 100lvh;
	background: url(/img/bg.jpg);
    background-repeat: repeat-y;
	background-size: max(1920px,100%) auto;
}
