@use "variable" as v;
@use "font" as f;
@use "mixin" as m;

// slide image
// swiper
.swiper {
    width: 100%;
    height: 100%;
  }

// swiper1
.h-pc {

    @include m.mq(sp) {
        display: none;
    }
}

.h-sp {
    display: none;
    width: 100vw;

    @include m.mq(sp) {
        display: block;
    }
}

.nav-images {
    width: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 100lvh;

    @include m.mq(sp) {
        width: 100%;
        aspect-ratio: 390/197;
    }
}

.swiper1 {
    width: 100%;
    height: 100vh;
    position: relative;

    @include m.mq(sp) {
        height: 19.7rem;
    }
}

// .swiper-fade {
//     opacity: 0 !important;

//     &.swiper-slide-active {
//         opacity: 1 !important;
//       }
// }

.nav-swiper-wrapper {

}

.nav-swiper-slide {
    overflow: hidden;
    position: relative;
    z-index: 2;

        .h-pc {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }


.mask-obj {

}

.fadeIn {

}

.slide-image {
    width: 100%;
    height: 100lvh;
    mask-position: center center !important;
    overflow: hidden;

    @include m.mq(sp) {
        height: auto;
    }
}

.nav-slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include m.mq(sp) {
        aspect-ratio: 390/197;
        height: auto;
    }

}

// swiper2
.c-slider {
    width: 100%;
    // margin: 13.6rem 0 0;
    overflow: clip;
    position: relative;

    @include m.mq(sp) {
        margin: 4.5rem 0 0;
        padding: 2.6rem 0 0;
        clip-path: inset(0);

        &:before {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
    }
}

.c-wrapper {
    @include m.mq(sp) {
        padding-bottom: 15rem;
    }
}

.carousel {
    height: 300vh;

    @include m.mq(sp) {
        height: 400vh;
        padding-bottom: 10rem;
    }
}

.item {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index : 1;
    position: sticky;
    top: calc(50lvh - 37rem);
    opacity: 0;
    transition-duration: 0.4s;

    &.active {
        opacity: 1;
    }

    @include m.mq(sp2) {
        top: 20rem;
    }
}

.item3 {
    padding-bottom: 50rem;

    @include m.mq(sp) {
        padding-bottom: 0;
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 43.2rem;
    aspect-ratio: 432/540;
    margin: 5rem auto;
    text-align: center;
    z-index: 2;

    @include m.mq(sp) {
        width: 25rem;
        aspect-ratio: 250/310;
        border-radius: 12rem;
        margin: 8rem auto;
    }
}

.item-ttl {
    display: inline-block;
    font-family: f.$tinos;
    font-size: f.rem(56);
    line-height: 1.2143;
    letter-spacing: 0.03em;

    @include m.mq(sp) {
        margin-bottom: 1.4rem;
        font-size: f.rem(24);
        line-height: 1.25;
    }
}

.item-text {
    animation: home-efficacy-hidden var(--duration) cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.item-desc {
    margin-top: 2.6rem;
    font-size: f.rem(18);
    line-height: 1.4167;
    font-weight: 700;

    @include m.mq(sp) {
        font-size: f.rem(13);
        line-height: 1.3334;
    }

    strong {
        display: block;
        margin-top: 0.6rem;
        color: v.$color-accent;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.02em;

        @include m.mq(sp) {
            margin-top: 0.3rem;
            font-size: f.rem(18);
        }
    }
}

.span-box {
    display: inline-block;
    padding: 0 0.2rem;
    border: rgba(76,73,72,.5) solid 1px;
    line-height: 1.4rem;
}

// item image
.item-image {
    transition: opacity 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    will-change: opacity;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    border-radius: 2rem;
    // opacity: 0;
    box-shadow: 4rem 6rem 8rem rgba(0,0,0,.2);

    @include m.mq(sp) {
        width: calc(100vw - 16rem);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;

    }
}

.item-image1 {
    width: 48rem;
    top: 0;
    right: calc(50% + 10rem);

    @include m.mq(sp) {
        width: calc(100vw - 10rem);
        height: 66.8rem;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
    }

    @include m.mq(sp2) {
        width: calc(100vw - 15rem);
        height: 49.8rem;
    }
}

.item-image2 {
    width: 44rem;
    height: 28rem;
    top: 0;
    left: calc(50% + 16rem);

    @include m.mq(sp) {
        width: calc(100vw - 25rem);
        height: 14rem;
        top: calc(50% + 7.8rem);
        right: auto;
        bottom: auto;
        left: 0;
    }
}

.item-image3 {
    width: 30rem;
    // height: 28rem;
    top: 34rem;
    left: calc(50% + 23rem);

    .image-pc {
        display: block;
    }

    .image-sp {
        display: none;
    }

    @include m.mq(sp) {
        width: calc(100vw - 16rem);
        height: 14.6rem;
        top: calc(50% + 14.6rem);
        right: 0;
        bottom: auto;
        left: auto;

        .image-pc {
            display: none;
        }

        .image-sp {
            display: block;
        }

    }
}

.c-pagination {
    position: absolute;
    height: 54rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.1rem;
    z-index: 2;

    .swiper-pagination-bullet {
        transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        width: 0.9rem;
        height: 1.1rem;
        border: #231815 solid 1px;
        border-radius: 0.8rem;
        background-color: inherit;

        &:nth-child(4) {
            display: none;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: #231815;
    }
}

.swiper-pagination-vertical, .swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 3rem;
    margin: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets {
    top: 79%;

    @include m.mq(sp) {
        right: 2rem;
    }
}

.bg-wrapper {
    overflow: clip;
    position: absolute;
    z-index: -1;
    background-image: url(https://github.com/ai-s1014/portfolio3/blob/main/img/bg.jpg?raw=true);
    background-size: max(1920px,100%) auto;
    background-repeat: no-repeat;
}

// swiper3
.swiper3 {
    padding: 0 6.5rem;

    @include m.mq(sp) {
        position: relative;
        padding: 0 2.5rem;
    }
}

.p-sp {
    // PC表示
    display: none;

    // SP表示
    @include m.mq(sp) {
        display: block;
    }
}

.p-swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-top: 10.4rem;
}

.p-swiper-slide {
    width: calc(100vw - 5rem);
}

// thumbnail
.swiper-sp {
    display: none;

    @include m.mq(sp) {
        display: block;
    }
}

.swiper-sp {
    .thumb-wrapper {
        height: auto;
        display: grid;
        position: absolute;
        top: 14rem;
        right: -32rem;
        z-index: 2;
        row-gap: 1rem;
    }

    .thumb-slide {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        column-gap: 2rem;
        padding: 0.5rem;
        border: rgba(35,24,21,.1) solid 1px;
        border-radius: 0.6rem;
        background: rgba(255,255,255,.2);
        transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transition-property: border-color, background-color;
        cursor: pointer;

        img {
            transition: opacity .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            filter: drop-shadow(0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1));
            opacity: 0.5;
        }
    }

    .thumb-slide-active {
        border-color: #231815;
        background: rgba(255,255,255,.2);

        img {
            opacity: 1;
        }
    }
}

