@use "variable" as v;
@use "font" as f;
@use "mixin" as m;

// main
.main {
    overflow: clip;
    position: relative;
    z-index: 1;
}

.inner-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100svh;
}

.main-logo {
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;
    transition-property: visibility,opacity;
    position: absolute;
    inset: 5rem auto auto 5rem;
    z-index: 1;
    width: 20rem;
}

.hero-image {
    display: block;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-text {
    display: grid;
    grid-template-columns: 29.9rem 20.9rem;
    column-gap: 1.4rem;
    position: absolute;
    inset: auto 1rem 0.8rem auto;
    z-index: 1;
    font-size: f.rem(10);
}

.m-note {

}

.note-ttl {
    background-color: #fff;
}

.note-body {
    border: 1px solid #fff;
}

.note-cap {
    border: 1px solid #fff;

}

.p-ttl {

}

.p-name {

}

