@use "variable" as v;
@use "font" as f;
@use "mixin" as m;

#wrapper {
    position: relative;
    background-color: v.$color-bg1;
    z-index: 0;
    overflow: clip;

    &::before {
        @include m.headerBg;
    }
}

// main
.main {
    overflow: clip;
    position: relative;
    z-index: 1;
}

.inner-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.main-logo {
    position: fixed;
    width: 20rem;
    inset: 5rem auto auto 5rem;
    z-index: 100;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    transition-property: visibility,opacity;

    @include m.mq(sp) {
        width: 17rem;
        inset: 6rem auto auto calc(50% - 8.5rem);
    }

    a {
        display: inline-block;
    }

    .logo {
        opacity: 1;
        transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
        transition-property: visibility,opacity;

        img {
            @include m.mq(sp) {
                width: 17rem;
                height: auto;
            }
        }
    }

    &.scroll {
            .logo {
                opacity: 0;
            }
        }
}

.hero-image {
    display: block;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-text {
    display: grid;
    grid-template-columns: 29.9rem 20.9rem;
    column-gap: 1.4rem;
    position: absolute;
    inset: auto 1rem 0.8rem auto;
    z-index: 1;
    text-align: center;

    @include m.mq(sp) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        left: 1rem;
    }
}

.m-note {

}

.note-ttl {
    height: 2.4rem;
    font-size: f.rem(12);
    color: v.$color-text;
    background-color: #fff;

    @include m.mq(sp) {
        height: 2.1rem;
        font-size: f.rem(11);
    }
}

.note-body {
    display: flex;
    width: 100%;
    height: 2.9rem;
    justify-content: center;
    column-gap: 0.6rem;
    align-items: center;
    margin: 8px 0 0 0;
    border: 1px solid #fff;

    @include m.mq(sp) {
        height: 2.6rem;
        column-gap: 0.4rem;
    }
}

.note-cap {
    display: flex;
    height: 1.7rem;
    font-size: f.rem(11);
    border: 1px solid #fff;
    align-items: center;

    @include m.mq(sp) {
        height: 1.5rem;
        font-size: f.rem(10);
        padding: 0.5rem;
    }
}

.cap-s{
    font-size: f.rem(12);
}

.note-flex {
    display: flex;
    justify-content: center;
}

.p-ttl {
    font-size: f.rem(10);

    @include m.mq(sp) {
        font-size: f.rem(10);
        line-height: 1.4;
    }
}

.p-name {
    font-size: f.rem(10);
    
    @include m.mq(sp) {
        font-size: f.rem(10);
        text-align: left;
        line-height: 1.4;
    }
}

// scroll-contents
.scroll-contents {
    position: relative;
    z-index: 0;
    padding-top: 26rem;
    margin: 0 auto;
    width: 80%;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;


    &.scale {
        width: 100%;;
    }

    @include m.mq(sp) {
        padding-top: 18rem;
    }

    @include m.mq(sp) {
        padding-top: 10rem;
    }

    &::before {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        border: v.$color-text solid 2px;
        border-bottom: none;
        border-radius: 50vw 50vw 0 0;
    }

    &::after {
        position: absolute;
        content: "";
        box-sizing: border-box;
        inset: 2rem;
        z-index: 1;
        border: 2px solid #fff;
        border-bottom: none;
        border-radius: 50vw 50vw 0 0;
        pointer-events: none;

        @include m.mq(sp) {
            inset: 1rem;
        }
    }
}

// concept
.concept {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;

    @include m.mq(sp) {
        text-align: left;
    }
}

.section-ttl {
    font-size: f.rem(48);
    font-family: f.$tinos;
    text-align: center;
    line-height: 1.2292;
    letter-spacing: 0.06em;

    @include m.mq(sp) {
        font-size: f.rem(28);
        line-height: 1.2143;
    }
}

.c-ttl {
    color: v.$color-text2;
}

.c-subttl {
    width: fit-content;
    border-left: 1px solid v.$color-accent;
    border-right: 1px solid v.$color-accent;
    padding: 1rem 4.6rem;
    margin: 3rem auto 0;
    color: v.$color-accent;
    position: relative;

    @include m.mq(sp) {
        text-align: center;
        margin: 2rem auto 0;
        padding: 0 0 0.5rem;
    }
}

.border-length {
    &::before {
        position: absolute;
        content: "";
        width: 1px;
        background-color: v.$color-accent;
        inset: 0 auto;

        @include m.mq(sp) {
        }
    }
}

.border-l {
    &::before {
        left: 0.5rem;

        @include m.mq(sp) {
            left: 0.3rem;
        }
    }
}

.border-r {
    &::before {
        right: 0.5rem;
    }
}

.sub-ttl {
    font-size: f.rem(34);
    font-weight: 700;

    @include m.mq(sp) {
        font-size: f.rem(20);
    }
}

.en {
    width: 20.8rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;

    @include m.mq(sp) {
        grid-template-columns: 1fr 2.8rem 1fr;
        margin: 0.7rem 0 1rem;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    p {
        font-size: f.rem(13);

        @include m.mq(sp) {
            font-size: f.rem(10);
        }
    }
}

.x {
    display: block;
    position: relative;
    margin: 0 2.3rem;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: calc(50% - 1.5rem) auto auto 50%;
        width: 1px;
        height: 3rem;
        background: #000;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.trouble-text {
    margin-top: 8.8rem;

    @include m.mq(sp) {
        margin-top: 7.3rem;
    }
}

.scalp-text {
    margin-top: 23.8rem;

    @include m.mq(sp) {
        overflow: clip;
        margin-top: 12.7rem;
    }
}

.c-lead {
    font-size: f.rem(56);
    font-weight: 700;
    line-height: 1.4286;
    letter-spacing: 0.2px;

    @include m.mq(sp) {
        font-size: f.rem(22);
        line-height: 1.6364;
        text-align: left;
    }
}

.c-desc {
    letter-spacing: 0.04em;

    @include m.mq(sp) {
        font-size: f.rem(14);
        text-align: left;
        letter-spacing: 0.02em;
        margin-top: 1.6rem;
    }
}

.c-cap {
    font-size: f.rem(6);
    margin-top: 0.8rem;
    color: #4c4948;

    @include m.mq(sp) {
        margin-top: 0.3rem;
    }
}

.brand-text {
    margin-top: 7.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02rem;

    @include m.mq(sp) {
        width: 17rem;
        margin: 3.7rem 0 0;
        text-align: left;
    }
}

.name-s {
    font-size: f.rem(15);
    font-weight: 700;

    @include m.mq(sp) {
        font-size: f.rem(11);
    }
}

.brand-name {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: f.rem(70);
    margin-top: 1.4rem;

    @include m.mq(sp) {
        font-size: f.rem(24);
    }
}



// ボトル サイドの画像
.side-img {
    position: relative;
    z-index: 2;
    top: 0;

    &.scrollUp {
        img {
            top: -36rem;
        }
    }


    img {
        position: absolute;
        top: -22.7rem;
        width: 20.2rem;
        height: auto;
        filter: drop-shadow(3rem 6rem 5rem rgba(0, 0, 0, 0.2));
        z-index: 3;
        transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }
}

.r-bottle {

    img {
        right: max(0px,50% - 61.5rem);
        transform: rotate(12deg);

        @include m.mq(sp) {
            top: -8.4rem;
            right: auto;
            left: 2.6rem;
            width: 4.8rem;
        }
    }
}

.l-bottle {

    img {
        left: max(0px,50% - 61.5rem);
        transform: rotate(-12deg);

        @include m.mq(sp) {
            top: -58.2rem;
            left: auto;
            right: -0.8rem;
            width: 7rem;
        }
    }
}

.s-bottle {

    img {
        width: 12.7rem;

        @include m.mq(sp) {
            top: -26.2rem;
            left: 2.1rem;
            width: 7rem;
        }
    }
}

.c-image {
    width: calc(100vw - 40rem);
    height: max(53rem, calc((100vw - 40rem) / 900 * 530));
    margin: 12rem 0 0 auto;
    border-radius: calc(max(53rem, calc((100vw - 40rem) / 900 * 530)) * 0.5) 0 0 calc(max(53rem, calc((100vw - 40rem) / 900 * 530)) * 0.5);
    overflow: hidden;
    position: relative;
    z-index: 2;

    @include m.mq(sp) {
        width: calc(100vw - 9rem);
        height: auto;
        aspect-ratio: 300/177;
        margin-top: 5rem
    }

    img {
        width: 100%;
        height: auto;
    }
}

// product
.product {
    position: relative;
    padding: 22rem 0 10.6rem;
    z-index: 2;

    @include m.mq(sp) {
        padding: 14rem 0 14rem;
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 54rem;
        height: 51rem;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;

        @include m.mq(sp) {
            width: 21rem;
            height: 20rem;
        }
    }

    &::before {
        background-image: url(https://github.com/ai-s1014/portfolio3/blob/main/img/bg-bl.png?raw=true);
        inset: 0 auto auto 0;
    }

    &::after {
        background-image: url(https://github.com/ai-s1014/portfolio3/blob/main/img/bg-br.png?raw=true);
        inset: auto 0 0 auto;

        @include m.mq(sp) {
        }
    }
}

.section-ttl {

}

.product-ttl {

}

.p-item-flex {
    position: relative;
    display: flex;
    column-gap: 5rem;
    padding-top: 7rem;
}

.p-pc {
    @include m.mq(sp) {
        display: none;
    }
}

.p-item-body {
}

.p-item-box {
    width: calc(50% - 2.5rem);
    height: 72.3rem;
    background: rgba(255,255,255,.7);
    position: relative;
    padding: 0 5rem;
    border: v.$color-text solid 1px;

    @include m.mq(sp) {
        width: 100%;
        height: 55.5rem;
        padding: 0 4rem;
        border-radius: calc((100vw - 5rem)/2);
    }
}

.p-item-body {
    height: 72.3rem;
    text-align: center;
    margin: 0 auto;

    @include m.mq(sp) {
        height: 55.5rem;
        border-radius: calc((100vw - 5rem)/2);
    }
}

.p-item-image {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin: -7rem 0 0.3rem;

    @include m.mq(sp) {
        column-gap: 0.3rem;
        margin: -4rem 0 0.1rem;
    }

    img {
        width: 10.2rem;
        height: 33rem;

        @include m.mq(sp) {
            width: 7.2rem;
            height: 22rem;
        }
    }
}

.p-body-text {
    min-height: 33rem;

    @include m.mq(sp) {
        min-height: 26.5rem;
    }
}

.p-item-ttl {
    min-height: 3.2728em;
    font-size: f.rem(22);
    font-weight: 700;
    line-height: 1.6364;
    letter-spacing: 0.02em;

    @include m.mq(sp) {
        min-height: 0;
        margin-bottom: 1.2rem;
        font-size: f.rem(16);
        line-height: 1.5;
    }
}

.p-item-text {
    margin-top: 1.3rem;

    @include m.mq(sp) {
        margin-top: 1.2rem;
    }
}

.p-item-lead {
    color: v.$color-accent;
    font-size: f.rem(18);
    font-weight: 700;
    line-height: 1.5556;
    letter-spacing: 0.02em;

    @include m.mq(sp) {
        font-size: f.rem(14);
        line-height: 1.7143;
    }
}

.p-item-cap {
    margin-top: 0.9rem;
    font-size: f.rem(6);
    color: #4c4948;
    line-height: 1.8;
    letter-spacing: 0.02em;

    @include m.mq(sp) {
        margin-top: 0.4rem;
    }
}

.p-item-price {
    margin-top: 3.6rem;
    font-size: f.rem(15);
    line-height: 1.2308;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-family: f.$montserrat;

    @include m.mq(sp) {
        margin-top: 2.6rem;
        font-size: f.rem(12);
        line-height: 1.2273;
        letter-spacing: 0.02em;
    }
}

.price {
    font-size: f.rem(26);

    @include m.mq(sp) {
        font-size: f.rem(22);
        letter-spacing: .02em;
    }
}

.price-cap {
    margin-top: 1.8rem;

    @include m.mq(sp) {
        margin-top: 1.4rem;
    }
}

.volume {

}

.span-box {

}

.fa-arrow-right {

}

.p-item-effect {
    width: calc(50% - 2.5rem);
    margin-top: 2rem;
    padding: 1.9rem 2rem 1.7rem;
    background: rgba(255,255,255,.5);
    font-size: f.rem(10);
    line-height: 1.6;
    letter-spacing: 0;
    clip-path: polygon(0 1rem, calc(50% - 0.9rem) 1rem, 50% 0, calc(50% + 0.9rem) 1rem, 100% 1rem, 100% 100%, 0% 100%);

    @include m.mq(sp) {
        width: 100%;
        margin: 1rem 0 0;
        padding: 1.7rem 1.6rem 1.3rem;
    }
}

.effect-text {

    dd {
        display: grid;
        grid-template-columns: 41.573% 1fr;
        column-gap: 1.4rem;
        margin: 1rem 0 0 0;

        @include m.mq(sp) {
            grid-template-columns: 1fr;
            row-gap: 0.8rem;
        }
    }
}

.effect-ttl {
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.7rem;
    border-bottom: #cbcbc0 dotted 1px;

    @include m.mq(sp) {
        font-size: f.rem(10);
    }
}

.effect-name {
    margin-top: 1rem;
    font-size: f.rem(10);

}

.effect-cap {
    font-size: f.rem(10);

}

// gallery
.gallery {
    width: 100%;
    height: 300vh;
    background-color: v.$color-text;
    overflow: clip;
    position: relative;
    clip-path: inset(0);
}

.gallery-wrapper {
    position: absolute;
    z-index: 1;
    inset: -100lvh 0;

    @include m.mq(sp) {
        inset: 0;
    }

    @include m.mq(sp2) {
        inset: -3rem;
    }

}

.gallery-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    column-gap: 2rem;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;

    @include m.mq(sp) {
        column-gap: 0.8rem;
        top: -5rem;
    }

}

.gallery-col {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @include m.mq(sp) {
        row-gap: 0.8rem;
    }


    img {
        width: 100%;
        height: auto;
        vertical-align: top;

        @include m.mq(sp) {
            width: 367px;
            height: 587px;
            object-fit: cover;
        }
    }
}

// support
.support {
    padding: 20rem 0;
    position: relative;
    z-index: 3;

    @include m.mq(sp) {
        padding: 8rem 0 10rem;
    }
}

.support-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;

    @include m.mq(sp) {
        padding: 0 2.5rem;
    }
}

.support-ttl {
    font-size: f.rem(32);
    font-weight: 700;

    @include m.mq(sp) {
        font-size: f.rem(20);
    }
}

.support-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    margin-top: 4rem;

    @include m.mq(sp) {
        grid-template-columns: 1fr;
        row-gap: 1.4rem;
        margin-top: 2rem;
    }
}

.support-item {
    display: grid;
    overflow: hidden;
    aspect-ratio: 525/310;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: rgba(0,0,0,.6);
        inset: 0;
    }

    img {
        transition: scale .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        z-index: 0;
    }

    &:hover {
        img {
            scale: 1.1;
        }

        @include m.mq(pc) {
            .item-btn  {
                &::before {
                    transform: scale(1, 1);      /*ホバー後、x軸方向に1（相対値）伸長*/
                    transform-origin: left top; /*右から左に向かう*/
                }

                i {
                    &::before {
                        animation: btn-arw .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
                    }
                }
            }
        }
    }
}

.s-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.1rem;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    z-index: 1;

    @include m.mq(sp) {
        row-gap: 0;
    }
}


.item-en {
    font-size: f.rem(15);
    line-height: 1.2667;
    font-weight: 700;


    @include m.mq(sp) {
        font-size: f.rem(12);
        line-height: 1.25;
        letter-spacing: 0.03em;
    }
}

.item-ja {
    font-size: f.rem(24);
    line-height: 1;
    margin-top: 1rem;
    font-weight: 700;


    @include m.mq(sp) {
        font-size: f.rem(18);
        letter-spacing: 0.02em;
    }

}


.item-btn {
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.5rem;
    z-index: 3;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.03em;

    &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 9rem;
        background-color: #fff;
        bottom: 34px;
        left: 24px;
        transform: scale(0, 1);
        transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.5s; /*変形の時間*/
    }

    @include m.mq(sp) {
        font-size: f.rem(14);
    }

    i {
        width: 4rem;
        padding: 0.8rem 0;
        aspect-ratio: 1/1;
        margin-left: 1.5rem;
        border: 1px solid #FFF;
        border-radius: 50%;
        font-size: f.rem(21);
        text-align: center;

        @include m.mq(sp) {
            width: 3rem;
            padding: 0.7rem 0;
            font-size: f.rem(14);
        }
    }
}

.fa-solid {

}

.fa-arrow-right {

}

.arrow-color {

}

